.main_container{
  border: 0px solid;
  display: inline-block;
  width:100%;
  height: 100%;
}

.login_container{
  width: 90%; 
  height: 80%; 
  margin: auto; 
  
  background-color: black;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000;
}

.form_container{
  width: 80%;
  height: 100%;
  margin: auto;
  
}

.form_title_div{
  
  margin: auto; 
  text-align: center;
  width:80%;
  height: 30%;
}

.form_title_p{
  
  font-weight: bold; 
  font-size: 30px; 
  display: inline-block; 
  padding-top: 8px;
  color: palevioletred;
}

.form_input{
  
  width: 98%; 
  height: 45px; 
  border: 1px solid; 
  border-radius: 3px; 
  border-color: gray;
}

.form_item_name{
  
  color: red;
  font-size: 40px;
}

.form_text_alert{
  background-color: aqua;
  height: 50px;
  
}

.form_text_alert_padding{
  padding-bottom: 10px;
}

.form_submit_button{
  width: 100%; 
  height: 44px; 
  background-color: rgb(83, 154, 236); 
  border: 1px; 
  border-radius: 3px; 
  color: white; 
  font-size: 17px; 
  font-weight: 500;
}